@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

/* Ini yang bakal dibaca next-themes pas class="dark" aktif */
.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  @apply antialiased; /* Biar font-nya makin mulus kayak paha milenial */
}
